*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	// font-family: $font-primary;
	// color: $color-grey-dark-2;
	font-weight: 300;
	line-height: 1.6;
	font-size: 1.6rem;
}

.container {
	max-width: 75rem;
	margin: 0 auto;
	min-height: 100vh;
	background-color: orangered;
	padding: 3rem 5rem;
}
