*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1 rem = 1 px;
	background-color: $light;
}

body {
}

.container {
	max-width: 150rem;
	width: 90vw;
	margin: 0 auto;
	min-height: 100vh;
}
