.tooltipButton {
	position: fixed;
	top: 5%;
	right: 7%;

	z-index: $zindexOverlay;
	fill: $light;
	cursor: pointer;
	background-color: $dark;
	border-radius: 50%;
	height: 5rem;
	width: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all $fast;

	&.active {
		background-color: $blue;
	}

	svg {
		height: 3rem;
		width: 3rem;
	}
}
