.projectGallery {
	&__section {
		padding-bottom: 10rem;

		a:link,
		a:visited {
			text-decoration: none;
		}
	}

	&__container {
		position: relative;
		display: flex;
		align-items: center;
	}

	&__tooltip {
		margin-left: 3rem;
	}
}
