.splashScreen {
	position: fixed;
	z-index: 1000;
	background-color: white;
	height: 100vh;
	width: 100vw;
	top: 0;
}
.splashScreen__background {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: linear-gradient(270deg, #7b83ff, #8fba71, #d5714e, #f6db41);
	background-size: 800% 800%;
	border-radius: 50%;
	animation: bgAppear 0.5s ease forwards, bgGradient 30s ease infinite;
}
.splashScreen__content,
.splashScreen__content::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 20vw;
	width: 20vw;
	min-width: 20rem;
	min-height: 20rem;
	border-radius: 50%;
}
.splashScreen__content {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
.splashScreen__content.animate {
	height: 100vh;
	width: 100vw;
	border-radius: 0;
}
.splashScreen__content::before {
	content: '';
	background-color: transparent;
	border: 0.2rem solid white;
	z-index: -1;
	transition: all 0.5s;
}
.splashScreen__content:hover::before {
	animation: onHover 0.5s ease-out infinite;
}
.splashScreen__image {
	width: 90%;
	height: auto;
	max-width: 30rem;
	max-height: 30rem;
	transition: all 0.3s;
	position: relative;
	transform-origin: center center;
	animation: chibiAppear 1s 0.3s backwards;
}
.splashScreen__image.animate {
	animation: chibiDisappear 1s 0.1s backwards;
}

@keyframes bgGradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes bgAppear {
	0% {
		width: 0vw;
		height: 0vh;
	}
	100% {
		width: 100vw;
		height: 100vh;
		border-radius: 0;
	}
}

@keyframes onHover {
	0% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0;
	}
	50% {
		transform: translate(-50%, -50%) scale(1.3);
		opacity: 1;
	}
	100% {
		transform: translate(-50%, -50%) scale(1.5);
		opacity: 0;
	}
}

@keyframes chibiAppear {
	0% {
		transform: rotate(-360deg);
		top: -15rem;
		opacity: 0;
	}
	100% {
		top: 0;
		transform: rotate(360deg);
	}
}

@keyframes chibiDisappear {
	0% {
		transform: rotate(-360deg);
		top: 0;
		opacity: 1;
	}
	100% {
		top: 15rem;
		transform: rotate(360deg);
		opacity: 0;
	}
}

*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
}

.button:link,
.button:visited {
	background-color: white;
	text-decoration: none;
	color: black;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
}
